html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Didot;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 24px;
  letter-spacing: 1px;
  color: #6A6A6A;
}

/* -- HEADER & NAV -- */

header {
  height: inherit;
  padding: 1vh 0vw;
  width: 100vw;
  color: white;
  background-color: #A7C4B5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed-header header {
  position: fixed;
  top: 0;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2vw;
  letter-spacing: 1px;
}

nav {
  width: 50vw;
  margin-right: 8vw;
  display: flex;
  justify-content: space-between;
}

.initials {
  margin-left: 8vw;
  background: white;
  border-radius: 50%;
  color: #A7C4B5;
  display: block;
  font-size: 40px;
  line-height: 68px;
  text-align: center;
  width: 70px;
}

/* -- LANDING PAGE -- */

.name {
  color: #A7C4B5;
  letter-spacing: 0.5vw;
  font-size: 8vw;
}

.professional-title {
  font-size: 2.5vw;
  color: #a6a6a6;
  letter-spacing: .4vw;
}

.title-section {
  /* margin-bottom: 25vh; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* -- ABOUT ME -- */

.aboutme-section {
  height: inherit;
  margin: 5vh 0vw;
  padding: 15vh 0vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(153, 141, 160, 0.5);
}

.aboutme-h2 {
  padding-bottom: 5vh;
}

.aboutme-content {
  display: flex;
  align-items: center;
  margin: 0vh 7vw;
}

.aboutme-p {
  padding-left: 4vw;
  font-size: 1.8vw;
  letter-spacing: 1px;
  color: #6A6A6A;
}

.image-sizing {
  width: 35vw;
  border-radius: 1%;
  box-shadow: 1px 1px 20px 3px #6A6A6A;
}

/* -- SKILLS -- */

i {
  font-size: 9vw;
  color: #A7C4B5;
}

.skills-section {
  margin: 5vh 0vw;
  padding: 15vh 0vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon-div {
  padding: 0vh 2vw;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

/* -- PROJECTS -- */

.project-section {
  width: 100vw;
  height: inherit;
  margin: 5vh 0vw;
  padding: 15vh 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(153, 141, 160, 0.5);
}

.all-projects-div {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.individual-project-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individual-project-div:hover {
  opacity: 0.2;
}

.individual-project-div a {
  padding: 2vh 0vw;
}

.project-names {
  font-size: 20px;
  letter-spacing: 1px;
  color: #6A6A6A;
}

.project-cards {
  width: 24vw;
  border-radius: 1%;
  box-shadow: 1px 1px 20px 3px #6A6A6A;
}

.tech-used {
  width: 250px;
  text-align: center;
}

/* -- CONTACT -- */

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  height: 42vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-div {
  display: flex;
  flex-direction: column;
}

.form-email {
  width: 340px;
  border: solid thin gray;
}

.form-message {
  width: 340px;
  height: 175px;
  border: solid thin gray;
}

.form-button {
  width: 150px;
}
/* -- COFFEE -- */

#container {
  /* position: absolute; */
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:280px;
  height:300px;
}

#glass{
  width:280px;
  height:300px;
  border: solid 3px;
  border-top:none;
  border-radius: 10px 10px 90px 90px;
  box-shadow: inset 0 0 10px 0px rgba(0,0,0,1);
  background-color:#fff;
  position:relative;
  z-index: 3;
}

#wall {
  width:250px;
  height:290px;
  border: solid 1px;
  border-radius: 10px 10px 90px 90px;
  margin-left:14px;
  margin-top: 0px;
  border-top:none;
  box-shadow: inset 0 0 10px 0px rgba(0,0,0,1);
  position:relative;
}

#crema {
  width:248px;
  height:20px;
  background-color:#CA944E;
  box-shadow: inset 0 0 2px 0px rgba(0,0,0,1);
  position:relative;
  margin-top:-250px;
  margin-left:15px;
}

#coffee {
  width:248px;
  height:250px;
  border-radius: 10px 10px 83px 83px;
  margin-top:-20px;
  margin-left:15px;
  border:solid 0px #2F1D0F;
  background-color:#2F1D0F;
  background: -webkit-linear-gradient(160deg,  rgb(202, 148, 78) -20%, #2F1D0F, #2F1D0F);
  background: -moz-linear-gradient(160deg,  rgb(202, 148, 78) -20%, #2F1D0F, #2F1D0F);
  background: -o-linear-gradient(160deg,  rgb(202, 148, 78) -20%, #2F1D0F, #2F1D0F);
  background: linear-gradient(160deg,  rgb(202, 148, 78) -20%, #2F1D0F, #2F1D0F);
  transition-duration: 2s;
  position:relative;
  z-index:-1;
}

/* .drink {
  background-color: rgba(0,0,0,.5);
  box-shadow: inset 0 0 20px 2px rgba(0,0,0,1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} */



/* -- FOOTER -- */

footer {
  height: 8vh;
  color: #6A6A6A;
  display: flex;
  align-items: center;
}

/* MEDIA HEADER/NAV */

@media only screen and (max-width: 600px) {
  header {
    height: 8vh;
  }

  a {
    font-size: 3vw;
  }

  .initials {
    margin-left: 8vw;
    background: white;
    border-radius: 50%;
    color: #A7C4B5;
    display: block;
    font-size: 5vw;
    line-height: 6vh;
    text-align: center;
    width: 8vw;
  }
}

/* MEDIA SKILLS ICONS */

@media only screen and (max-width: 600px) {
  i {
    font-size: 22vw;
    color: #B2D1C0;
    padding: 3vw;
  }

  .icon-div {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
}

/* MEDIA PROJECT SECTION */

@media only screen and (max-width: 600px) {
  .all-projects-div {
    display: flex;
    flex-direction: column;
  }

  .project-cards {
    width: 55vw;
  }

  .individual-project-div {
    padding-top: 8vh;
  }
}

/* MEDIA ABOUT ME SECTION */

@media only screen and (max-width: 600px) {
  .aboutme-content {
    flex-direction: column;
  }
  .aboutme-p {
    font-size: 3vw;
    padding-top: 5vh;
  }
  .image-sizing {
    width: 55vw;
  }
}
