.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black
}

#gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(69, 204, 137), rgb(227, 122, 224));
  clip-path: polygon(0 0, 90% 0, 10% 100%, 0% 100%);
  transform: rotate(180deg);
}

.skillIcon {
  padding: 10px;
  border: solid 2px black;
  border-radius: 5px;
  margin: 5px;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 700px) {
  .skillIcon {
    width: 85px;
    height: 85px;
  }
}

.container {
  height: 18.75em;
  width: 26.25em;
  position: relative;
}
.plant-1 {
  position: absolute;
  background-image: radial-gradient(#AF858B 0.18em, transparent 0.18em),
    radial-gradient(#AF858B 0.18em, #feffff 0.18em);
  background-size: 2.5em 2.5em;
  background-position: 0 -0.62em, 1.25em 0.62em;
  height: 7.5em;
  width: 5.6em;
  border-radius: 1.25em 1.25em 0 0;
  bottom: 1.87em;
  left: 1.25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.plant-1:before {
  position: absolute;
  content: "";
  background-color: #feffff;
  width: 4.37em;
  height: 0.75em;
  left: 0.62em;
  top: -0.62em;
}
.succulent-1 {
  position: absolute;
  background-color: #929865;
  height: 4.37em;
  width: 2.18em;
  left: 0.62em;
  top: -5em;
  border-radius: 1.87em 1.87em 0 0;
}
.succulent-1:before {
  position: absolute;
  content: "";
  background-color: #139b66;
  height: 3.12em;
  width: 2.18em;
  top: 1.25em;
  left: 2.18em;
  border-radius: 1.87em 1.87em 0 0;
}
.plant-2 {
  position: absolute;
  height: 5.62em;
  width: 5.62em;
  background: linear-gradient(
    #d68c45 60%,
    #ffffff 60%,
    #ffffff 80%,
    #ffc9b9 80%
  );
  bottom: 1.87em;
  left: 10em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.succulent-2 {
  position: absolute;
  height: 2.5em;
  width: 2.5em;
  background-color: #545C4C;
  border-radius: 2.5em 0;
  top: -2.18em;
  left: 2.5em;
  transform: rotate(10deg);
}
.succulent-2:before {
  content: "";
  position: absolute;
  height: 3.75em;
  width: 3.75em;
  background-color: #929865;
  border-radius: 3.75em 0;
  bottom: 0.75em;
  left: -2em;
  transform: rotate(-50deg);
}
.plant-3 {
  position: absolute;
  height: 3.12em;
  width: 5em;
  background-image: linear-gradient(0deg, #feffff 50%, #5D9595 50%);
  background-size: 0.87em 1.25em;
  bottom: 1.87em;
  left: 18.75em;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.succulent-4 {
  position: absolute;
  height: 0;
  width: 5em;
  border-top: 2.18em solid #929865;
  border-left: 0.93em solid transparent;
  border-right: 0.93em solid transparent;
  bottom: 3.12em;
}
.succulent-4:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-bottom: 2.18em solid #545C4C;
  border-left: 0.93em solid transparent;
  border-right: 0.93em solid transparent;
  bottom: 2.1em;
  left: 0.75em;
}
.succulent-3:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-bottom: 2.18em solid #139b66;
  border-left: 0.93em solid transparent;
  border-right: 0.93em solid transparent;
  bottom: 4.68em;
  left: 3.12em;
  transform: rotate(25deg);
}
.succulent-3:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-bottom: 2.18em solid #139b66;
  border-left: 0.93em solid transparent;
  border-right: 0.93em solid transparent;
  bottom: 4.68em;
  right: 2.62em;
  transform: rotate(-25deg);
}
@media screen and (min-width: 700px) {
  .container {
    font-size: 1.5em;
  }
}

/* -- PROJECT PAGE -- */

.project-placeholder {
  height: 20vh;
  width: 20vw;
  background-color: red;
  border: solid;
}

.tech-used {
  display: none;
  margin-top: 2em;
}

.project-cards:hover {
  box-shadow: 1px 1px 20px 3px #6A6A6A;
}

.project-cards-img {
  width: 100%;
  border-radius: 5px;
}

